<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AmazonSeleniumTestsSuite" parallel="tests" thread-count="2">
    <test name="TestSearchIPhone">
        <classes>
            <class name="amazon.AmazonSearchTest">
                <methods>
                    <include name="testSearchAddIPhone" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="TestSearchGalaxy">
        <classes>
            <class name="amazon.AmazonSearchTest">
                <methods>
                    <include name="testSearchAddGalaxy" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
